<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="dashNav nav-item">
            <a class="nav-link active text-white text-center mt-2" aria-current="page" href="/dashBoard">
              Dashboard
            </a>
          </li>
          <li class="dashNav nav-item">
            <a class="nav-link text-white text-center mt-2" href="/addProduct-admin">
              Add Products
            </a>
          </li>
          <li class="dashNav nav-item">
            <a class="nav-link text-white text-center mt-2" href="/productsList-admin">
              Product List
            </a>
          </li>
          <li class="dashNav nav-item">
            <a class="nav-link text-white text-center mt-2" href="#">
              My TV Shows
            </a>
          </li>
          <li class="dashNav nav-item">
            <a class="nav-link text-white text-center mt-2" href="#">
              Reports
            </a>
          </li>
          <li class="dashNav nav-item">
            <a class="nav-link text-white text-center mt-2" href="#">
              Settings
            </a>
          </li>
        </ul>
      </div>
</nav>