body{
    background-color: #041c2c;
}

.slide-show{
    padding-top: 65px;
}
.carousel-item img{
    height: 400px;
}
.product-grid{
    padding-bottom: 20px;
    padding-top: 20px;
}

.product-grid:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image{
    position: relative;
}
.image img{
    height: 300px;
}
#prod-slider, #grid-name{
    padding-top: 50px;
}
.overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: rgba(67, 68, 68, 0.7);
}
.image:hover .overlay{
	opacity: 1;
}
.detail{
    color: #fff;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 500px;
}

.desc-image{
    height: 300px;
    padding-left: 10%;
}

.prod-description{
    padding-right: 30%;
    padding-top: 150px;
    padding-left: 5%;
}

.description{
    padding-top: 150px;
    padding-bottom: 150px;
}
.desc-container{
    padding-top: 65px;
}

.form-container{
    padding-left: 20%;
    padding-right: 20%;
}

.dashBoard{
    margin-top: 120px;
    margin-bottom: 100px;
}

.dashNav{
    background-color: transparent;
    color: #434444;
    border-radius: 25px;
    border: 1px solid #434444;
    width: 100%;
    margin-top: 20px;
}

.dashNav:hover{
    background-color: #434444;
}

.check-out-button{
    margin-right: 25%;
    text-align: right;
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .prod-description{
        margin-left: 10%;
        padding-top: 20%;
        padding-right: 0;
    }
}

@media (max-width: 768px) {
    .prod-description{
        padding-left: 5%;
        padding-top: 0;
        position:relative;
    }
    .desc-image{
        height: 300px;
        padding-left: 5%;
    }
    .description{
        padding: 0;
    }
}

@media (max-width: 991.98px) {
    .image{
        width: 150px;
        height: auto;
    }
    .product-grid{
        width:170px;
    }
}
