<div class="dashBoard container">
  <div class="row">
    {{> adminDashboardNav}}

    <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2 text-white">Dashboard</h1>
      </div>
      <div class="text-white">
        <h1>Welcome Administrator {{user.fullName}}</h1><br>
          <p>Congratulations! You've successfully signed up for GAO's movie website</P>
          <p>You may now:</P>
          <ul>
              <li>Access you account</li>
              <li>Buy or rent movies and TV shows</li>
              <li>Subscribe for more exciting news</li>
          </ul>
          <br>
          <p>See you online</p>
          <p>GAO's movie team</P><br><br>
          <h3>This page will be implemented in the future with more detailed guidances</h3>
      </div>
    </div>
  </div>
</div>