<div class="container">
    <h2 class="mt-5 text-white pt-5">All Movies And TV Shows</h2>
    <hr>
    <div class="row">
        {{#each products}}
        <div class="col-md-2 product-grid">
            <div class="image">
                <a href="/products/{{this.index}}">
                    <img src="uploads/{{this.smallPoster}}" class="w-100" alt="{{this.title}}">
                    <div class="overlay">
                        <div class="detail">View Details</div>
                    </div>
                </a>
            </div>
            <h5 class="text-center mt-2 text-white">{{this.title}}</h5>
        </div>
        {{/each}}
    </div>
</div>